extends layout

block addHeaders
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
  h1= title
  div.item key[#{key.length}]: 
    div.content= key
  div.item iv[#{iv.length}]: 
    div.content= iv
  div.item encrypted[#{encrypted.length}]:
    div.content= encrypted
  div.item decrypted[#{decrypted.length}]:
    div.content= decrypted
